In [9]:
import pandas as pd

# Load the CSV file into a DataFrame
file_path = 'rfm-table.csv'

df = pd.read_csv(file_path, encoding='latin1')

# Define thresholds for categorization
high_frequency_threshold = 7
high_recency_threshold = 100
high_monetary_threshold = 3000

# Function to categorize customers
def categorize_customer(row):
    if row['frequency'] >= high_frequency_threshold and row['recency'] <= high_recency_threshold and row['monetary_value'] >= high_monetary_threshold:
        return 'Active Loyals'
    elif row['monetary_value'] >= high_monetary_threshold and row['frequency'] >= high_frequency_threshold:
        return 'Big Spenders'
    elif row['frequency'] >= high_frequency_threshold and row['recency'] > high_recency_threshold:
        return 'Loyals at Risk'
    elif row['frequency'] < high_frequency_threshold and row['recency'] > high_recency_threshold:
        return 'Churn Candidates'
    elif row['frequency'] == 1:
        return 'One-Time Shoppers'
    elif row['monetary_value'] >= 10000:
        return 'Richie Riches'
    elif row['recency'] > high_recency_threshold and row['frequency'] >= high_frequency_threshold:
        return 'Lost Customers'
    elif row['frequency'] >= high_frequency_threshold:
        return 'Bulk Shoppers'
    else:
        return 'Discount Seekers'

# Apply the categorization function to the DataFrame
df['Customer_Segment'] = df.apply(categorize_customer, axis=1)

# Display the first few rows of the updated DataFrame
df.head(25)

,customer,frequency,recency,monetary_value,R_Quartile,F_Quartile,M_Quartile,RFMClass,Customer_Segment
0,Aaron Bergman,3,415,887,4,4,4,444,Churn Candidates
1,Aaron Hawkins,7,12,1744,1,2,3,123,Bulk Shoppers
2,Aaron Smayling,7,88,3050,3,2,2,322,Active Loyals
3,Adam Bellavance,8,54,7756,2,2,1,221,Active Loyals
4,Adam Hart,10,34,3249,2,1,2,212,Active Loyals
5,Adam Shillingsburg,9,28,3256,1,1,2,112,Active Loyals
6,Adrian Barton,10,41,14474,2,1,1,211,Active Loyals
7,Adrian Hane,7,60,1734,2,2,3,223,Bulk Shoppers
8,Adrian Shami,2,41,59,2,4,4,244,Discount Seekers
9,Aimee Bixby,5,41,968,2,4,4,244,Discount Seekers
10,Alan Barnes,8,25,1114,1,2,4,124,Bulk Shoppers
11,Alan Dominguez,8,29,6107,1,2,1,121,Active Loyals
12,Alan Haines,4,55,1587,2,4,3,243,Discount Seekers
13,Alan Hwang,9,6,4806,1,1,1,111,Active Loyals
14,Alan Schoenberger,5,22,4261,1,4,1,141,Discount Seekers
15,Alan Shonely,7,192,585,4,2,4,424,Loyals at Risk
16,Alejandro Ballentine,9,166,914,3,1,4,314,Loyals at Risk
17,Alejandro Grove,5,278,2584,4,4,2,442,Churn Candidates
18,Alejandro Savely,6,19,3214,1,3,2,132,Discount Seekers
19,Aleksandra Gannaway,4,118,368,3,4,4,344,Churn Candidates
20,Alex Avila,5,184,5564,4,4,1,441,Churn Candidates
21,Alex Grayson,5,8,662,1,4,4,144,Discount Seekers
22,Alex Russell,4,111,1056,3,4,4,344,Churn Candidates
23,Alice McCarthy,5,28,814,1,4,4,144,Discount Seekers
24,Allen Armold,9,19,1057,1,1,4,114,Bulk Shoppers

In [13]:
import pandas as pd

# Load the CSV file into a DataFrame
file_path = 'rfm-table.csv'
df = pd.read_csv(file_path, encoding='latin1')

# Define thresholds for categorization
high_frequency_threshold = 7
high_recency_threshold = 100
high_monetary_threshold = 3000

# Function to categorize customers
def categorize_customer(row):
    if row['frequency'] >= high_frequency_threshold and row['recency'] <= high_recency_threshold and row['monetary_value'] >= high_monetary_threshold:
        return 'Active Loyals'
    elif row['monetary_value'] >= high_monetary_threshold and row['frequency'] >= high_frequency_threshold:
        return 'Big Spenders'
    elif row['frequency'] >= high_frequency_threshold and row['recency'] > high_recency_threshold:
        return 'Loyals at Risk'
    elif row['frequency'] < high_frequency_threshold and row['recency'] > high_recency_threshold:
        return 'Churn Candidates'
    elif row['frequency'] == 1:
        return 'One-Time Shoppers'
    elif row['monetary_value'] >= 10000:
        return 'Richie Riches'
    elif row['recency'] > high_recency_threshold and row['frequency'] >= high_frequency_threshold:
        return 'Lost Customers'
    elif row['frequency'] >= high_frequency_threshold:
        return 'Bulk Shoppers'
    else:
        return 'Discount Seekers'

# Apply the categorization function to the DataFrame
df['Customer_Segment'] = df.apply(categorize_customer, axis=1)

# Display the first few rows of the updated DataFrame
df.head(25)

,customer,frequency,recency,monetary_value,R_Quartile,F_Quartile,M_Quartile,RFMClass,Customer_Segment
0,Aaron Bergman,3,415,887,4,4,4,444,Churn Candidates
1,Aaron Hawkins,7,12,1744,1,2,3,123,Bulk Shoppers
2,Aaron Smayling,7,88,3050,3,2,2,322,Active Loyals
3,Adam Bellavance,8,54,7756,2,2,1,221,Active Loyals
4,Adam Hart,10,34,3249,2,1,2,212,Active Loyals
5,Adam Shillingsburg,9,28,3256,1,1,2,112,Active Loyals
6,Adrian Barton,10,41,14474,2,1,1,211,Active Loyals
7,Adrian Hane,7,60,1734,2,2,3,223,Bulk Shoppers
8,Adrian Shami,2,41,59,2,4,4,244,Discount Seekers
9,Aimee Bixby,5,41,968,2,4,4,244,Discount Seekers
10,Alan Barnes,8,25,1114,1,2,4,124,Bulk Shoppers
11,Alan Dominguez,8,29,6107,1,2,1,121,Active Loyals
12,Alan Haines,4,55,1587,2,4,3,243,Discount Seekers
13,Alan Hwang,9,6,4806,1,1,1,111,Active Loyals
14,Alan Schoenberger,5,22,4261,1,4,1,141,Discount Seekers
15,Alan Shonely,7,192,585,4,2,4,424,Loyals at Risk
16,Alejandro Ballentine,9,166,914,3,1,4,314,Loyals at Risk
17,Alejandro Grove,5,278,2584,4,4,2,442,Churn Candidates
18,Alejandro Savely,6,19,3214,1,3,2,132,Discount Seekers
19,Aleksandra Gannaway,4,118,368,3,4,4,344,Churn Candidates
20,Alex Avila,5,184,5564,4,4,1,441,Churn Candidates
21,Alex Grayson,5,8,662,1,4,4,144,Discount Seekers
22,Alex Russell,4,111,1056,3,4,4,344,Churn Candidates
23,Alice McCarthy,5,28,814,1,4,4,144,Discount Seekers
24,Allen Armold,9,19,1057,1,1,4,114,Bulk Shoppers

In [15]:
# Define email frequency and type based on customer segment
def email_strategy(row):
    if row['Customer_Segment'] == 'Active Loyals':
        return 'Weekly', 'Personalized updates and loyalty rewards'
    elif row['Customer_Segment'] == 'Big Spenders':
        return 'Weekly', 'Premium offers and exclusive deals'
    elif row['Customer_Segment'] == 'Loyals at Risk':
        return 'Bi-weekly', 'Re-engagement campaigns'
    elif row['Customer_Segment'] == 'Churn Candidates':
        return 'Monthly', 'High-impact reactivation emails'
    elif row['Customer_Segment'] == 'One-Time Shoppers':
        return 'Bi-weekly', 'Enticing offers'
    elif row['Customer_Segment'] == 'Richie Riches':
        return 'Monthly', 'Exclusive high-end promotions'
    elif row['Customer_Segment'] == 'Lost Customers':
        return 'Quarterly', 'Strong reactivation offers'
    elif row['Customer_Segment'] == 'Waiting First Order':
        return 'Weekly', 'Reminders and first-order discounts'
    elif row['Customer_Segment'] == 'Discount Seekers':
        return 'Weekly', 'Discount offers'
    elif row['Customer_Segment'] == 'Bulk Shoppers':
        return 'Bi-weekly', 'Bulk purchase deals'
    else:
        return 'Monthly', 'General updates'

# Apply the email strategy function to the DataFrame
df[['Email_Frequency', 'Email_Type']] = df.apply(lambda row: pd.Series(email_strategy(row)), axis=1)

# Display the first few rows of the updated DataFrame
df.head(25)

,customer,frequency,recency,monetary_value,R_Quartile,F_Quartile,M_Quartile,RFMClass,Customer_Segment,Email_Frequency,Email_Type
0,Aaron Bergman,3,415,887,4,4,4,444,Churn Candidates,Monthly,High-impact reactivation emails
1,Aaron Hawkins,7,12,1744,1,2,3,123,Bulk Shoppers,Bi-weekly,Bulk purchase deals
2,Aaron Smayling,7,88,3050,3,2,2,322,Active Loyals,Weekly,Personalized updates and loyalty rewards
3,Adam Bellavance,8,54,7756,2,2,1,221,Active Loyals,Weekly,Personalized updates and loyalty rewards
4,Adam Hart,10,34,3249,2,1,2,212,Active Loyals,Weekly,Personalized updates and loyalty rewards
5,Adam Shillingsburg,9,28,3256,1,1,2,112,Active Loyals,Weekly,Personalized updates and loyalty rewards
6,Adrian Barton,10,41,14474,2,1,1,211,Active Loyals,Weekly,Personalized updates and loyalty rewards
7,Adrian Hane,7,60,1734,2,2,3,223,Bulk Shoppers,Bi-weekly,Bulk purchase deals
8,Adrian Shami,2,41,59,2,4,4,244,Discount Seekers,Weekly,Discount offers
9,Aimee Bixby,5,41,968,2,4,4,244,Discount Seekers,Weekly,Discount offers
10,Alan Barnes,8,25,1114,1,2,4,124,Bulk Shoppers,Bi-weekly,Bulk purchase deals
11,Alan Dominguez,8,29,6107,1,2,1,121,Active Loyals,Weekly,Personalized updates and loyalty rewards
12,Alan Haines,4,55,1587,2,4,3,243,Discount Seekers,Weekly,Discount offers
13,Alan Hwang,9,6,4806,1,1,1,111,Active Loyals,Weekly,Personalized updates and loyalty rewards
14,Alan Schoenberger,5,22,4261,1,4,1,141,Discount Seekers,Weekly,Discount offers
15,Alan Shonely,7,192,585,4,2,4,424,Loyals at Risk,Bi-weekly,Re-engagement campaigns
16,Alejandro Ballentine,9,166,914,3,1,4,314,Loyals at Risk,Bi-weekly,Re-engagement campaigns
17,Alejandro Grove,5,278,2584,4,4,2,442,Churn Candidates,Monthly,High-impact reactivation emails
18,Alejandro Savely,6,19,3214,1,3,2,132,Discount Seekers,Weekly,Discount offers
19,Aleksandra Gannaway,4,118,368,3,4,4,344,Churn Candidates,Monthly,High-impact reactivation emails
20,Alex Avila,5,184,5564,4,4,1,441,Churn Candidates,Monthly,High-impact reactivation emails
21,Alex Grayson,5,8,662,1,4,4,144,Discount Seekers,Weekly,Discount offers
22,Alex Russell,4,111,1056,3,4,4,344,Churn Candidates,Monthly,High-impact reactivation emails
23,Alice McCarthy,5,28,814,1,4,4,144,Discount Seekers,Weekly,Discount offers
24,Allen Armold,9,19,1057,1,1,4,114,Bulk Shoppers,Bi-weekly,Bulk purchase deals

In [19]:
# Save the updated DataFrame to a new CSV file
output_file_path = 'updated_rfm_table.csv'
df.to_csv(output_file_path, index=False)

In [29]:
import pandas as pd

# Load the updated CSV file
file_path = 'updated_rfm_table.csv'
df = pd.read_csv(file_path, encoding='latin1')

# Save the DataFrame to an HTML file with DataTables
html_file_path = 'customers.html'

html_string = '''
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Data</title>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
</head>
<body>
    <h1>Customer Data</h1>
    <table id="customerTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Frequency</th>
                <th>Recency</th>
                <th>Monetary Value</th>
                <th>Customer Segment</th>
                <th>Email Frequency</th>
                <th>Email Type</th>
            </tr>
        </thead>
        <tbody>
'''

for index, row in df.iterrows():
    html_string += f'''
            <tr>
                <td>{row['customer']}</td>
                <td>{row['frequency']}</td>
                <td>{row['recency']}</td>
                <td>{row['monetary_value']}</td>
                <td>{row['Customer_Segment']}</td>
                <td>{row['Email_Frequency']}</td>
                <td>{row['Email_Type']}</td>
            </tr>
    '''

html_string += '''
        </tbody>
    </table>
    <script>
        $(document).ready(function() {
            $('#customerTable').DataTable({
                "paging": true,
                "searching": true,
                "ordering": true
            });
        });
    </script>
</body>
</html>
'''

# Save the HTML string to a file with UTF-8 encoding
with open(html_file_path, 'w', encoding='utf-8') as f:
    f.write(html_string)

print(f'HTML file saved to {html_file_path}')

HTML file saved to customers.html

In [31]:
import pandas as pd

# Load the updated CSV file
file_path = 'updated_rfm_table.csv'
df = pd.read_csv(file_path, encoding='latin1')

# Save the DataFrame to an HTML file with DataTables
html_file_path = 'customers.html'

html_string = '''
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Data</title>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
</head>
<body>
    <h1>Customer Data</h1>
    
    <label for="customerSegmentFilter">Filter by Customer Segment:</label>
    <select id="customerSegmentFilter">
        <option value="">All</option>
        <option value="Active Loyals">Active Loyals</option>
        <option value="Big Spenders">Big Spenders</option>
        <option value="Loyals at Risk">Loyals at Risk</option>
        <option value="Churn Candidates">Churn Candidates</option>
        <option value="One-Time Shoppers">One-Time Shoppers</option>
        <option value="Richie Riches">Richie Riches</option>
        <option value="Lost Customers">Lost Customers</option>
        <option value="Waiting First Order">Waiting First Order</option>
        <option value="Discount Seekers">Discount Seekers</option>
        <option value="Bulk Shoppers">Bulk Shoppers</option>
    </select>
    
    <label for="emailTypeFilter">Filter by Email Type:</label>
    <select id="emailTypeFilter">
        <option value="">All</option>
        <option value="Personalized updates and loyalty rewards">Personalized updates and loyalty rewards</option>
        <option value="Premium offers and exclusive deals">Premium offers and exclusive deals</option>
        <option value="Re-engagement campaigns">Re-engagement campaigns</option>
        <option value="High-impact reactivation emails">High-impact reactivation emails</option>
        <option value="Enticing offers">Enticing offers</option>
        <option value="Exclusive high-end promotions">Exclusive high-end promotions</option>
        <option value="Strong reactivation offers">Strong reactivation offers</option>
        <option value="Reminders and first-order discounts">Reminders and first-order discounts</option>
        <option value="Discount offers">Discount offers</option>
        <option value="Bulk purchase deals">Bulk purchase deals</option>
    </select>
    
    <table id="customerTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Frequency</th>
                <th>Recency</th>
                <th>Monetary Value</th>
                <th>Customer Segment</th>
                <th>Email Frequency</th>
                <th>Email Type</th>
            </tr>
        </thead>
        <tbody>
'''

for index, row in df.iterrows():
    html_string += f'''
            <tr>
                <td>{row['customer']}</td>
                <td>{row['frequency']}</td>
                <td>{row['recency']}</td>
                <td>{row['monetary_value']}</td>
                <td>{row['Customer_Segment']}</td>
                <td>{row['Email_Frequency']}</td>
                <td>{row['Email_Type']}</td>
            </tr>
    '''

html_string += '''
        </tbody>
    </table>
    <script>
        $(document).ready(function() {
            var table = $('#customerTable').DataTable({
                "paging": true,
                "searching": true,
                "ordering": true
            });

            $('#customerSegmentFilter').on('change', function() {
                var searchValue = this.value;
                table.column(4).search(searchValue).draw();
            });

            $('#emailTypeFilter').on('change', function() {
                var searchValue = this.value;
                table.column(6).search(searchValue).draw();
            });
        });
    </script>
</body>
</html>
'''

# Save the HTML string to a file with UTF-8 encoding
with open(html_file_path, 'w', encoding='utf-8') as f:
    f.write(html_string)

print(f'HTML file saved to {html_file_path}')

HTML file saved to customers.html